html {
    height: 100%;
    font-size: 62.5%;
}
body {
    margin: 0;
    touch-action: manipulation; // disable double tap zoom for iOS
overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.main-container {
    width: 100%;
    text-align: center;
}
.main-content {
    max-width: 1230px;
}